@import "tailwindcss";

:root {
  --background: #cdcdcd;
  --foreground: #222831;
  --font-sans: 'Arial', sans-serif;
  --font-mono: 'Courier New', monospace;
}

[data-theme='dark'] {
  --background: #222831;
  --foreground: #cdcdcd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}